/* work sans font from google font  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared styles */
* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.description {
    /* margin-top: 15px; */
    color: #534C64;
    font-size: 15px;
    font-weight: 500;
    text-align: center;


    /* padding-left: 15px; */



}


/* header css styles */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
    height: 100px;
    margin-top: 20px;
}

.website-nav {
    display: flex;
    gap: 20px;
}

.website-nav img {
    width: 80px;
    height: 30px;
    margin-top: 8px;
}

.website-name {
    color: #0B0223;
    font-size: 35px;
    font-weight: 700;
    margin-top: auto;
}


nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
}

nav li a {
    text-decoration: none;
    color: #3C354F
}

.special-menu {
    width: 140px;
    height: 20px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px;

}


svg {
    width: 24px;
    height: 13px;



}

/* main section css styles     */

/* banner section css styles */

.banner-section {

    display: flex;
    gap: 50px;
}

.banner-content {
    margin-top: 30px;
    /* margin-left: 150px; */
    background-image: url(../images/Group\ 14.png);
    width: 100%;
    background-size: cover;
    /* text-align: center; */


}

.banner-title {
    color: #0B0223;
    margin-bottom: 0px;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-heading {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-description {
    margin-left: 160px;
}

.content-image {
    width: 500px;
    height: 450px;
    margin-top: 10px;
    margin-right: 150px;
}

.sign-up {
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-flex;
    padding: 15px 25px;
    align-items: flex-start;
    border: none;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    margin-top: 10px;

}

.go-button {
    color: #FFF;
    font-family: Work Sans;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-flex;
    padding: 15px 20px;
    align-items: flex-start;
    border: none;
    border-radius: 48px;
    background: #4EC5F7;
    margin-left: 20px;

}

/* Online section css styles */

.online-section {
    margin-left: 150px;
    margin-right: 150px;
}

.online-content {
    margin-top: 80px;
    text-align: center;
}

.online-content-heading {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 5px;
}



.online-content-image {
    display: flex;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 100px;

}

.online-content-image,
img {
    width: 240px;
    height: 300px;
    border-radius: 16px;
    gap: 24px;


}

/* website promote section */

.promote-section {
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
     

}

.promote-content {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 0 100px 100px;
}

.promote-heading {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0px;

}



.promote-image img {
    width: 100%;

}


.promote-focus-image img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    border: 5px solid rgb(192, 103, 118);
    position: relative;
    bottom: 120px;
    right: 130px;

}




/* responsive for small device  */

@media screen and (max-width:576px) {
    nav {
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 10px;
        margin-left: 0px;
        margin-right: 0px;
        padding: 0px;
    }

    nav>ul {
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-items: center;
    }

    .banner-section {
        flex-direction: column-reverse;
        margin-top: 170px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .content-image {
        justify-content: space-around;
        align-items: center;
        padding: 0px;
        width: 100%;
    }

    .banner-title {
        margin-top: 50px;
        text-align: center;
        font-size: 22px;
        font-weight: 600;
        text-transform: uppercase;
    }

    .banner-heading {
        font-size: 45px;
    }

    .banner-description {
        text-align: center;
        margin: 0px;
        margin-bottom: 35px;
    }

    .sign-up,
    .go-button {
        padding: 15px;
        font-size: 15px;
    }

    .online-section {
        margin-left: 60px;
        margin-right: 60px;
    }

    .online-content-heading {
        font-size: 20px;
    }

    .description {
        font-size: 11px;
    }

    .online-content-image {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .online-content-image,
    img {
        width: 100%;
        height: 100%;
    }

    .promote-section {
        flex-direction: column;
        margin-top: 30px;
        margin-left: 50px;
        margin-right: 50px;

    }

    .promote-content {
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0px;
    }
    .promote-heading{
        font-size: 28px;
        text-align: center;
        margin-bottom: 40px;
    }
    .promote-image{
        margin-top: 30px;
        width: 80%;
        margin-left: 40px;
        
    }
    .promote-focus-image{
        position: relative;
        bottom: 80px;
        right: 30px;
    }
    .promote-focus-image img{
        position: static;
        width: 30%;
        height: 20%;
       
    }




}